@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Text roles */
  --color-main-text: oklch(21% 0.034 264.665); /* primary text gray-900 */
  --color-secondary-text: oklch(55% 0.02 264); /* for subtitles, helper text gray-600 */

  /* Accent and states */
  --color-focus: oklch(50.8% 0.118 165.612); /* focus outline emerald-700 */
  --color-hover: oklch(50.8% 0.118 165.612); /* base hover color emerald-700 */
  --color-accent: oklch(72% 0.1 165.612); /* logo accent ~emerald-400 */

  /* UI elements */
  --color-link-bg: oklch(50.8% 0.118 165.612); /* link bg emerald-700 */
  --color-link-bg-hover: oklch(59.6% 0.145 163.225); /* hover for Browse button emerald-600 */

  --color-link-text-active: oklch(50.8% 0.118 165.612); /* active nav link emerald-700 */

  --color-btn-text: var(--color-main-text);
  --color-btn-bg: oklch(50.8% 0.118 165.612); /* link bg emerald-700 */
  --color-btn-bg-hover: oklch(59.6% 0.145 163.225); /* hover for Browse button emerald-600 */

  --color-overlay-bg: rgba(0, 0, 0, 0.5); /* dark overlay for hero section */
  --color-modal-bg: #fff;
  --color-soft-bg: oklch(96.7% 0.003 264.542); /* gray-100 */

  --color-ui-bg: #fff; /* inputs, buttons, header, forms */
  --color-ui-border: oklch(87.2% 0.01 258.338); /* gray-300 */

  --color-input-text: var(--color-main-text);

  --color-errors-text: oklch(57.7% 0.245 27.325); /* red-600 */
}

body {
  background-color: #fff;
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 16px;
  color: var(--color-main-text);
}

button {
  cursor: pointer;
}

.dark {
  /* Text roles */
  --color-main-text: #f0ead6; /* light beige text */
  --color-secondary-text: oklch(80% 0.015 85); /* warm muted beige-gray */

  /* UI elements */
  --color-link-text-active: oklch(65% 0.11 165); /* active nav link ~emerald-500 */

  --color-modal-bg: #1a1a1a; /* deep warm black */
  --color-soft-bg: oklch(40% 0.02 125); /* dark soft */

  --color-ui-bg: #2b2b2b;
  --color-ui-border: #525252;

  --color-input-text: #fff;
  --color-btn-text: #fff;

  background-color: #1a1a1a; /* deep warm black */
  color: var(--color-main-text);
}
